doctype html
html
    head
        title= "File Not Found"
        link(rel='stylesheet', href='./stylesheets/style.css')
    body
        h2 404 Bad Request
        h3 The route #{url} does not match a file on this web server